body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.banner {
    padding-top: 15%;
    padding-bottom: 1%;
    background-color: #99FEFF;
    border-radius: 1%;
}
#staff{
    background-color:#99FEFF ;
}
.lingkaran {
    display: inline-block;
    border-radius: 50%;
    width: 150px;
    margin: auto;
    height: 150px;
    color: #ffffff;
    background-color: #dc3545;
}
.lingkaran i {
    position: relative;
    top: 30px;
}
.staff img{
    border: 10px solid #cccccc;
}

.tim {
    background-color: #ffffff;
    color: black;
    border-radius: 1%;
}
.kontak {
    text-align: left;
}
.footer {
    background-color: #99FEFF;
}